<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubpushhandler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/71479625-ebc0-44b5-b8e9-6554ca392ab8/resourceGroups/slack-channel-resource-group/providers/Microsoft.Web/sites/GitHubPushHandler</ResourceId>
    <UserName>$GitHubPushHandler</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://githubpushhandler.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>